<section id="quiensomos" class="bg-[#dcebd4] flex flex-col items-center py-10">
    <div class="flex flex-col justify-center items-center gap-10">
      <span
        class="bg-green-200 text-center px-3 py-2 rounded-2xl text-green-800 uppercase font-bold"
        >Sobre nosotros</span
      >
      <h3 class="text-4xl font-bold text-gray-800">¿Por qué elegirnos?</h3>
      <div class="flex gap-10 max-sm:flex-col max-sm:gap-5">
        <div class="flex text-blue-400 font-bold capitalize">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
              clip-rule="evenodd"
            />
          </svg>
          <p>25 años de experiencia</p>
        </div>
        <div class="flex text-green-600 font-bold capitalize">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
              clip-rule="evenodd"
            />
          </svg>
          <p>apoyo personalizado</p>
        </div>
        <div class="flex text-violet-600 font-bold capitalize">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
              clip-rule="evenodd"
            />
          </svg>
          <p>seguimiento continuo</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-10 max-w-6xl mx-auto px-6 py-10">
      <div class="flex-1">
        <img
          class="border-20 border-white rounded-2xl shadow-xl/30 max-w-xs sm:max-w-sm md:max-w-md -rotate-3 hover:rotate-0 hover:scale-105 transition-transform duration-300 w-full h-auto"
          src="../../../assets/clase2mejorada.png"
          alt="[!] Foto de alumno en clase"
        />
      </div>
      <div class="flex-1 flex flex-col gap-6">
        <span
          class="bg-orange-400 -rotate-2 animate-float animate-iteration-count-infinite text-white text-sm font-bold px-3 py-1 rounded-full w-fit"
        >
        +25 años de experiencia
        </span>
        <h2 class="text-3xl sm:text-4xl font-bold">Quiénes somos</h2>
        <p class="text-gray-700 leading-relaxed">
          • En Centro de Aprendizaje acompañamos a estudiantes  desde hace más de 25 años, brindando clases particulares que promueven el progreso en la escuela, el nivel terciario y la universidad. Ofrecemos un espacio de confianza, dedicación y calidad educativa, donde cada estudiante puede aprender con docentes que están atentos a sus necesidades. 
        </p>
        <p class="text-gray-700 leading-relaxed">
          • Somos un equipo de  profesionales comprometidos con el desarrollo académico de cada alumno. Creemos que aprender es un proceso continuo, que se construye día a día, por eso aplicamos una metodología personalizada, adaptada a las necesidades y objetivos de cada estudiante. Además los padres pueden seguir de cerca el avance de las clases con nuestro sistema de feedback
        </p>
        <p class="text-gray-700 leading-relaxed">
          • A lo largo de nuestra trayectoria, cientos de alumnos han encontrado en nuestras clases presenciales y virtuales el apoyo que necesitaban para superar dificultades, mejorar su rendimiento y seguir mejorando su formación educativa.
        </p>
      </div>
    </div>
  </section>
  