<footer class="bg-green-800 p-5 text-center">
    <div class="flex flex-col items-center gap-3">
        <div class="flex justify-center items-center gap-3">
            <div class="flex flex-col items-center">
                <img class="w-12" src="assets/logo.webp" alt="">
                <p class="text-[12px] text-gray-300 font-semibold">Sapere Aude</p>
            </div>
            <h3 class="text-white font-bold capitalize">Centro de aprendizaje</h3>
        </div>
        <p class="text-gray-300 font-semibold text-sm">Más de 25 años formando estudiantes exitosos en Avellaneda, Buenos Aires.</p>
        <hr class="m-auto border-0.5 border-white/40 w-3/4">
        <p class="text-gray-300 font-semibold text-sm">@ {{today | date:'yyyy'}} Centro de aprendizaje. Todos los derechos reservados.</p>
        <p class="text-gray-300 font-semibold text-sm">Made by @<a class="underline underline-offset-1" href="https://github.com/Osvaldx" target="_blank">Osvaldx</a></p>
    </div>
</footer>