<section id="fotos" class="py-16 overflow-hidden">
    <div class="w-full max-w-6xl mx-auto px-4">
      <div class="flex flex-col justify-center items-center text-center gap-2">
        <h2 class="text-3xl font-bold text-gray-800">Nuestra Galería</h2>
        <p class="max-w-xl text-black/80">
          Una mirada al interior de nuestro instituto y al trabajo que realizamos junto a nuestros alumnos.
        </p>
      </div>
      <om-marquee [animationDuration]="'80s'" [pauseOnHover]="false" [marqueeGap]="'2rem'" [scrollable]="true">
        <ng-template *ngFor="let img of images" [omMarqueeItem]="img">
          <div class="flex justify-center items-center w-[330px] h-full">
            <img [src]="img" class="rounded-lg object-contain" />
          </div>
        </ng-template>
      </om-marquee>
    </div>
</section>